<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<div class="center-block">
  <h1>Products</h1>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Published on</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.published_on %></td>
          <td><%= book.price %></td>
          <td><%= link_to 'Show', product_path(book) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>