<!DOCTYPE html>
<html>
  <head>
    <title>ECsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav navbar-nav navbar-left">
        <%= link_to 'products_path' do %>
          <span>
            <%= image_tag 'logo.png', :size => '50x50' %>
            <h1 class="navbar-brand mb-0"> Book Store</h1>
          </span>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <span>
        <%= link_to 'admin', deliveries_path, class: 'btn btn-outline-secondary'%>
        <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-warning'%>
        </span>
      </ul>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <br>
    <footer class="footer footer-dark bg-dark">
      <div class="container">
        <h4>About</h4>
        This system is for ...
      </div>
    </footer>
  </body>
</html>
